[package]
name = "commonware-cryptography-fuzz"
version.workspace = true
publish = false
edition.workspace = true
license.workspace = true

[package.metadata]
cargo-fuzz = true

[dependencies]
arbitrary = { workspace = true, features = ["derive"] }
blake3.workspace = true
blst = { workspace = true, features = ["no-threads"] }
commonware-codec = { workspace = true, features = ["std"] }
commonware-cryptography = { workspace = true, features = ["std", "arbitrary"] }
ed25519-zebra.workspace = true
libfuzzer-sys.workspace = true
p256 = { workspace = true, features = ["ecdsa"] }
rand.workspace = true
sha2.workspace = true
zeroize.workspace = true

[[bin]]
name = "bls12381_decode"
path = "fuzz_targets/bls12381_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "ed25519_decode"
path = "fuzz_targets/ed25519_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "secp256r1_standard_decode"
path = "fuzz_targets/secp256r1_standard_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "secp256r1_recoverable_decode"
path = "fuzz_targets/secp256r1_recoverable_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "sha256_hasher"
path = "fuzz_targets/sha256_hasher.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_primitive_operations"
path = "fuzz_targets/bls12381_primitive_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bloomfilter"
path = "fuzz_targets/bloomfilter.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_batch_verifier"
path = "fuzz_targets/bls12381_batch_verifier.rs"
test = false
doc = false
bench = false

[[bin]]
name = "ed25519_batch_verifier"
path = "fuzz_targets/ed25519_batch_verifier.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_threshold_operations"
path = "fuzz_targets/bls12381_threshold_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_aggregate_operations"
path = "fuzz_targets/bls12381_aggregate_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "blake3_hasher"
path = "fuzz_targets/blake3_hasher.rs"
test = false
doc = false
bench = false

[[bin]]
name = "lthash_operations"
path = "fuzz_targets/lthash_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_tle"
path = "fuzz_targets/bls12381_tle.rs"
test = false
doc = false
bench = false

[[bin]]
name = "metamorph_lthash"
path = "fuzz_targets/metamorph_lthash.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_dkg"
path = "fuzz_targets/bls12381_dkg.rs"
test = false
doc = false
bench = false
