[package]
name = "commonware-cryptography-fuzz"
version = "0.0.61"
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
commonware-codec = { workspace = true }
commonware-cryptography = { workspace = true }
arbitrary = { workspace = true, features = ["derive"] }
blst = { workspace = true, features = ["no-threads"] }
libfuzzer-sys = { workspace = true }
p256 = { workspace = true, features = ["ecdsa"] }
sha2 = { workspace = true }
ed25519-zebra = "4.0.3"
rand = { workspace = true }
blake3 = { workspace = true }
zeroize = { workspace = true }

[[bin]]
name = "bls12381_decode"
path = "fuzz_targets/bls12381_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "ed25519_decode"
path = "fuzz_targets/ed25519_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "secp256r1_decode"
path = "fuzz_targets/secp256r1_decode.rs"
test = false
doc = false
bench = false

[[bin]]
name = "sha256_hasher"
path = "fuzz_targets/sha256_hasher.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_primitive_operations"
path = "fuzz_targets/bls12381_primitive_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bloomfilter"
path = "fuzz_targets/bloomfilter.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_batch_verifier"
path = "fuzz_targets/bls12381_batch_verifier.rs"
test = false
doc = false
bench = false

[[bin]]
name = "ed25519_batch_verifier"
path = "fuzz_targets/ed25519_batch_verifier.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_threshold_operations"
path = "fuzz_targets/bls12381_threshold_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_aggregate_operations"
path = "fuzz_targets/bls12381_aggregate_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "blake3_hasher"
path = "fuzz_targets/blake3_hasher.rs"
test = false
doc = false
bench = false

[[bin]]
name = "lthash_operations"
path = "fuzz_targets/lthash_operations.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bls12381_tle"
path = "fuzz_targets/bls12381_tle.rs"
test = false
doc = false
bench = false

[[bin]]
name = "metamorph_lthash"
path = "fuzz_targets/metamorph_lthash.rs"
test = false
doc = false
bench = false
