[workspace]
members = [
    "broadcast",
    "codec",
    "coding",
    "collector",
    "consensus",
    "cryptography",
    "deployer",
    "macros",
    "p2p",
    "resolver",
    "runtime",
    "storage",
    "stream",
    "utils",
    "examples/bridge",
    "examples/chat",
    "examples/estimator",
    "examples/flood",
    "examples/log",
    "examples/sync",
    "examples/vrf",

    # Fuzz builds
    "broadcast/fuzz",
    "codec/fuzz",
    "coding/fuzz",
    "cryptography/fuzz",
    "runtime/fuzz",
    "stream/fuzz",
    "storage/fuzz",
    "utils/fuzz"
]
resolver = "2"

[workspace.dependencies]
commonware-broadcast = { version = "0.0.60", path = "broadcast" }
commonware-codec = { version = "0.0.60", path = "codec", default-features = false }
commonware-coding = { version = "0.0.60", path = "coding" }
commonware-collector = { version = "0.0.60", path = "collector" }
commonware-consensus = { version = "0.0.60", path = "consensus" }
commonware-cryptography = { version = "0.0.60", path = "cryptography" }
commonware-deployer = { version = "0.0.60", path = "deployer", default-features = false }
commonware-macros = { version = "0.0.60", path = "macros" }
commonware-p2p = { version = "0.0.60", path = "p2p" }
commonware-resolver = { version = "0.0.60", path = "resolver" }
commonware-runtime = { version = "0.0.60", path = "runtime" }
commonware-storage = { version = "0.0.60", path = "storage" }
commonware-stream = { version = "0.0.60", path = "stream" }
commonware-utils = { version = "0.0.60", path = "utils", default-features = false }
thiserror = { version = "2.0.12", default-features = false }
bytes = { version = "1.7.1", default-features = false }
sha2 = { version = "0.10.8", default-features = false }
blake3 = { version = "1.8.2", default-features = false }
rand = { version = "0.8.5", default-features = false }
rand_distr = "0.4.3"
futures = "0.3.31"
futures-util = "0.3.31"
tokio = "1.43.0"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
paste = "1.0.15"
prost = "0.13.5"
prost-build = "0.13.5"
governor = "0.6.3"
prometheus-client = "0.22.3"
clap = "4.5.18"
criterion = "0.5.1"
zstd = "0.13.2"
chrono = "0.4.39"
ratatui = "0.27.0"
crossterm = "0.28.1"
serde_json = "1.0.122"
cfg-if = "1.0.0"
axum = "0.8.1"
bimap = "0.6.3"
reqwest = "0.12.12"
uuid = "1.15.1"
serde = "1.0.218"
serde_yaml = "0.9.34"
either = "1.13.0"
opentelemetry = "0.28.0"
opentelemetry-otlp = "0.28.0"
opentelemetry_sdk =  "0.28.0"
tracing-opentelemetry = "0.29.0"
io-uring = "0.7.4"
rayon = { version = "1.10.0", default-features = false }
async-lock = "3.4.0"
libc = "0.2.172"
sysinfo = "0.33.0"
zeroize = "1.5.7"
blst = { version = "0.3.13", default-features = false }
p256 = { version = "0.13.2", default-features = false }
test-case = "3.3.1"
chacha20poly1305 = "0.10.1"

# Fuzz deps
libfuzzer-sys = "0.4.9"
arbitrary = "1.4.1"

[profile.bench]
# Because we enable overflow checks in "release," we should benchmark with them.
overflow-checks = true

[profile.dev]
# Although overflow checks are enabled by default in "dev", we explicitly
# enable them here for clarity.
overflow-checks = true

[profile.release]
# To guard against unexpected behavior in production, we enable overflow checks in
# "release" although they incur some performance penalty.
overflow-checks = true

[profile.release-with-debug]
inherits = "release"
# Setting debug to true instructs cargo to include debug symbols in the release
# binary (not to disable optimizations).
debug = true

[profile.test]
# Although overflow checks are enabled by default in "test", we explicitly
# enable them here for clarity.
overflow-checks = true
