[workspace]
members = [
    "consensus",
    "cryptography",
    "runtime",
    "p2p",
    "utils",
    "examples/chat",
    "examples/vrf",
]
resolver = "2"

[workspace.dependencies]
commonware-cryptography = { version = "0.0.9", path = "cryptography" }
commonware-runtime = { version = "0.0.6", path = "runtime" }
commonware-p2p = { version = "0.0.20", path = "p2p" }
commonware-utils = { version = "0.0.1", path = "utils" }
thiserror = "1.0.63"
bytes = "1.7.1"
sha2 = "0.10.8"
rand = "0.8.5"
futures = "0.3.30"
tokio = "1.40.0"
tracing = "0.1.40"
prost = "0.13.2"
prost-build = "0.13.2"
governor = "0.6.3"
prometheus-client = "0.22.3"
tracing-subscriber = "0.3.18"
clap = "4.5.18"