[workspace]
members = [
    "cryptography",
    "p2p",
    "examples/chat",
]
resolver = "2"

[workspace.dependencies]
commonware-cryptography = { version = "0.0.3", path = "cryptography" }
commonware-p2p = { version = "0.0.12", path = "p2p" }
bytes = "1"