[workspace]
members = [
    "consensus",
    "cryptography",
    "macros",
    "p2p",
    "runtime",
    "storage",
    "utils",
    "examples/chat",
    "examples/vrf",
]
resolver = "2"

[workspace.dependencies]
commonware-consensus = { version = "0.0.2", path = "consensus" }
commonware-cryptography = { version = "0.0.12", path = "cryptography" }
commonware-macros = { version = "0.0.4", path = "macros" }
commonware-p2p = { version = "0.0.23", path = "p2p" }
commonware-runtime = { version = "0.0.9", path = "runtime" }
commonware-storage = { version = "0.0.4", path = "storage" }
commonware-utils = { version = "0.0.4", path = "utils" }
thiserror = "1.0.63"
bytes = "1.7.1"
sha2 = "0.10.8"
rand = "0.8.5"
rand_distr = "0.4.3"
futures = "0.3.30"
futures-util = "0.3.30"
tokio = "1.40.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
prost = "0.13.2"
prost-build = "0.13.2"
governor = "0.6.3"
prometheus-client = "0.22.3"
clap = "4.5.18"
criterion = "0.5.1"
zstd = "0.13.2"