[package]
name = "commonware-runtime"
edition = "2021"
publish = true
version = "0.0.44"
license = "MIT OR Apache-2.0"
description = "Execute asynchronous tasks with a configurable scheduler."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/runtime"
documentation = "https://docs.rs/commonware-runtime"

[dependencies]
thiserror = { workspace = true }
cfg-if = { workspace = true }
commonware-macros = { workspace = true }
commonware-utils = { workspace = true }
futures = { workspace = true }
rand = { workspace = true }
tracing = { workspace = true }
bytes = { workspace = true }
sha2 = { workspace = true }
governor = { workspace = true }
prometheus-client = { workspace = true }
tracing-subscriber = { workspace = true, features = ["fmt", "json", "env-filter"] }
opentelemetry = { workspace = true }
tracing-opentelemetry = { workspace = true }

# Enable "js" feature when WASM is target
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.15"
features = ["js"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["full"] }
axum = { workspace = true }
opentelemetry_sdk = { workspace = true, features = ["rt-tokio"] }
opentelemetry-otlp = { workspace = true, features = ["http-proto"] }

[target.'cfg(target_os = "linux")'.dependencies]
io-uring = "0.7.4"

[lib]
bench = false
crate-type = ["rlib", "cdylib"]

[dev-dependencies]
criterion = { workspace = true, features = ["async_tokio"]}
tokio = { workspace = true }
tempfile = "3.19"

[[bench]]
name = "blob"
harness = false
path = "src/tokio/benches/bench_blob.rs"

[features]
iouring = []