[package]
name = "commonware-flood"
edition.workspace = true
publish = true
version.workspace = true
license.workspace = true
description = "Spam peers deployed to AWS EC2 with random messages."
readme = "README.md"
homepage.workspace = true
repository = "https://github.com/commonwarexyz/monorepo/tree/main/examples/flood"
documentation = "https://docs.rs/commonware-flood"

[dependencies]
clap.workspace = true
commonware-codec.workspace = true
commonware-cryptography.workspace = true
commonware-deployer.workspace = true
commonware-p2p.workspace = true
commonware-runtime.workspace = true
commonware-utils.workspace = true
futures.workspace = true
governor.workspace = true
prometheus-client.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_yaml.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["fmt", "json"] }
uuid = { workspace = true, features = ["v4"] }

[[bin]]
name = "flood"
path = "src/bin/flood.rs"
bench = false

[[bin]]
name = "setup"
path = "src/bin/setup.rs"
bench = false
