[package]
name = "commonware-stream"
edition.workspace = true
publish = true
version.workspace = true
license.workspace = true
description = "Exchange messages over arbitrary transport."
readme = "README.md"
homepage.workspace = true
repository = "https://github.com/commonwarexyz/monorepo/tree/main/stream"
documentation = "https://docs.rs/commonware-stream"

[lints]
workspace = true

[dependencies]
commonware-codec.workspace = true
commonware-cryptography = { workspace = true, features = ["std"] }
commonware-macros = { workspace = true, features = ["std"] }
commonware-runtime.workspace = true
commonware-utils.workspace = true
futures.workspace = true
rand.workspace = true
rand_core.workspace = true
thiserror.workspace = true
x25519-dalek.workspace = true
zeroize.workspace = true

[target.'cfg(not(any(target_arch = "x86_64", target_arch = "aarch64")))'.dependencies.chacha20poly1305]
workspace = true
default-features = false
features = ["std", "getrandom"]

[dev-dependencies]
criterion.workspace = true

[lib]
bench = false

[[bench]]
name = "encrypted_transport"
harness = false
path = "src/benches/bench.rs"
