[package]
name = "commonware-stream"
edition.workspace = true
publish = true
version.workspace = true
license.workspace = true
description = "Exchange messages over arbitrary transport."
readme = "README.md"
homepage.workspace = true
repository = "https://github.com/commonwarexyz/monorepo/tree/main/stream"
documentation = "https://docs.rs/commonware-stream"

[dependencies]
bytes.workspace = true
chacha20poly1305 = { workspace = true, default-features = false, features = ["std", "getrandom"] }
commonware-codec.workspace = true
commonware-cryptography = { workspace = true, features = ["std"] }
commonware-macros.workspace = true
commonware-runtime.workspace = true
commonware-utils.workspace = true
futures.workspace = true
rand.workspace = true
rand_core.workspace = true
thiserror.workspace = true
x25519-dalek = "2.0.1"
zeroize.workspace = true

[dev-dependencies]
criterion.workspace = true

[lib]
bench = false
