[package]
name = "commonware-stream"
edition = "2021"
publish = true
version = "0.0.41"
license = "MIT OR Apache-2.0"
description = "Exchange messages over arbitrary transport."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/stream"
documentation = "https://docs.rs/commonware-stream"

[dependencies]
commonware-cryptography = { workspace = true }
commonware-macros = { workspace = true }
commonware-runtime = { workspace = true }
commonware-utils = { workspace = true }
thiserror = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
chacha20poly1305 = "0.10"
x25519-dalek = "2"

[dev-dependencies]
criterion = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }

[lib]
bench = false

[[bench]]
name="public_key"
harness = false
path = "src/public_key/benches/bench.rs"
