[package]
name = "commonware-utils-fuzz"
version.workspace = true
publish = false
edition.workspace = true
license.workspace = true

[package.metadata]
cargo-fuzz = true

[dependencies]
arbitrary = { workspace = true, features = ["derive"] }
bytes.workspace = true
commonware-codec.workspace = true
commonware-utils = { path = ".." }
futures.workspace = true
libfuzzer-sys.workspace = true
rand = { workspace = true, features = ["std_rng"] }

[[bin]]
name = "lib_functions"
path = "fuzz_targets/lib_functions.rs"
test = false
doc = false
bench = false

[[bin]]
name = "sequence"
path = "fuzz_targets/sequence.rs"
test = false
doc = false
bench = false

[[bin]]
name = "bitmap"
path = "fuzz_targets/bitmap.rs"
test = false
doc = false
bench = false

[[bin]]
name = "priority_set"
path = "fuzz_targets/priority_set.rs"
test = false
doc = false
bench = false

[[bin]]
name = "stable_buf"
path = "fuzz_targets/stable_buf.rs"
test = false
doc = false
bench = false

[[bin]]
name = "time"
path = "fuzz_targets/time.rs"
test = false
doc = false
bench = false

[[bin]]
name = "futures"
path = "fuzz_targets/futures.rs"
test = false
doc = false
bench = false

[[bin]]
name = "historical_bitmap"
path = "fuzz_targets/historical_bitmap.rs"
test = false
doc = false
bench = false

[[bin]]
name = "prunable"
path = "fuzz_targets/prunable.rs"
test = false
doc = false
bench = false
