[package]
name = "commonware-codec-fuzz"
version.workspace = true
publish = false
edition.workspace = true
license.workspace = true

[package.metadata]
cargo-fuzz = true

[dependencies]
arbitrary = { workspace = true, features = ["derive"] }
bytes.workspace = true
libfuzzer-sys.workspace = true
paste.workspace = true
thiserror.workspace = true

[dependencies.commonware-codec]
path = ".."

[[bin]]
name = "roundtrip"
path = "fuzz_targets/codec_roundtrip.rs"
test = false
doc = false
bench = false
