[package]
name = "commonware-bridge"
edition.workspace = true
publish = true
version.workspace = true
license.workspace = true
description = "Send succinct consensus certificates between two networks."
readme = "README.md"
homepage.workspace = true
repository = "https://github.com/commonwarexyz/monorepo/tree/main/examples/bridge"
documentation = "https://docs.rs/commonware-bridge"

[lints]
workspace = true

[dependencies]
bytes.workspace = true
clap.workspace = true
commonware-codec.workspace = true
commonware-consensus.workspace = true
commonware-cryptography.workspace = true
commonware-macros.workspace = true
commonware-p2p.workspace = true
commonware-runtime.workspace = true
commonware-storage = { workspace = true, features = ["std"] }
commonware-stream.workspace = true
commonware-utils.workspace = true
futures.workspace = true
governor.workspace = true
prometheus-client.workspace = true
rand.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["fmt", "json"] }

[[bin]]
name = "validator"
path = "src/bin/validator.rs"
bench = false

[[bin]]
name = "indexer"
path = "src/bin/indexer.rs"
bench = false

[[bin]]
name = "dealer"
path = "src/bin/dealer.rs"
bench = false
