[package]
name = "commonware-storage"
edition = "2021"
publish = true
version = "0.0.54"
license = "MIT OR Apache-2.0"
description = "Persist and retrieve data from an abstract store."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/storage"
documentation = "https://docs.rs/commonware-storage"

[dependencies]
commonware-codec = {workspace = true}
commonware-cryptography = {workspace = true}
commonware-macros = { workspace = true }
commonware-runtime = { workspace = true }
commonware-utils = { workspace = true }
bytes = { workspace = true }
thiserror = { workspace = true }
futures = { workspace = true }
crc32fast = "1.4.2"
prometheus-client = { workspace = true }
futures-util = { workspace = true }
tracing = { workspace = true }
zstd = { workspace = true }
rayon = { workspace = true }

[dev-dependencies]
tracing-subscriber = { workspace = true }
rand = { workspace = true }
criterion = { workspace = true }

[lib]
bench = false
crate-type = ["rlib", "cdylib"]

[[bench]]
name="archive"
harness = false
path = "src/archive/benches/bench.rs"

[[bench]]
name="bmt"
harness = false
path = "src/bmt/benches/bench.rs"

[[bench]]
name="index"
harness = false
path = "src/index/benches/bench.rs"

[[bench]]
name="journal"
harness = false
path = "src/journal/benches/bench.rs"

[[bench]]
name="mmr"
harness = false
path = "src/mmr/benches/bench.rs"

[[bench]]
name="rmap"
harness = false
path = "src/rmap/benches/bench.rs"
