[package]
name = "commonware-storage"
edition = "2021"
publish = true
version = "0.0.9"
license = "MIT OR Apache-2.0"
description = "Persist and retrieve data from an abstract store."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/storage"
documentation = "https://docs.rs/commonware-storage"

[dependencies]
bytes = { workspace = true }
commonware-cryptography = {workspace = true}
cfg-if = { workspace = true }
thiserror = { workspace = true }
commonware-utils = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
bytes = { workspace = true }
commonware-runtime = { workspace = true }
commonware-macros = { workspace = true }
prometheus-client = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
zstd = { workspace = true }
crc32fast = "1.4.2"
rangemap = "1.5.1"

[dev-dependencies]
tracing-subscriber = { workspace = true }
rand = { workspace = true }
criterion = { workspace = true }

[lib]
bench = false
crate-type = ["rlib", "cdylib"]

[[bench]]
name="archive"
harness = false
path = "src/archive/benches/bench.rs"

[[bench]]
name="bmt"
harness = false
path = "src/bmt/benches/bench.rs"

[[bench]]
name="mmr"
harness = false
path = "src/mmr/benches/bench.rs"
