[package]
name = "commonware-utils"
edition.workspace = true
publish = true
version.workspace = true
license.workspace = true
description = "Leverage common functionality across multiple primitives."
readme = "README.md"
homepage.workspace = true
repository = "https://github.com/commonwarexyz/monorepo/tree/main/utils"
documentation = "https://docs.rs/commonware-utils"

[dependencies]
commonware-codec = { workspace = true, default-features = false }
bytes = { workspace = true }
futures = { workspace = true, optional = true }
rand = { workspace = true }
thiserror = { workspace = true }
cfg-if = { workspace = true }
num-bigint = { workspace = true, optional = true }
num-rational = { workspace = true, optional = true }
num-integer = { workspace = true, optional = true }
num-traits = { workspace = true, optional = true }

# Enable "js" feature when WASM is target
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.15"
features = ["js"]

[dev-dependencies]
num-bigint = { version = "0.4.6", default-features = false }
criterion = { workspace = true }

[features]
default = ["std"]
std = [
    "rand/std",
    "rand/std_rng",
    "thiserror/std",
    "bytes/std",
    "commonware-codec/std",
    "futures",
    "num-bigint",
    "num-rational",
    "num-integer",
    "num-traits",
]

[lib]
bench = false
crate-type = ["rlib", "cdylib"]

[[bench]]
name = "utils"
harness = false
path = "src/benches/bench.rs"
