[package]
name = "commonware-utils"
edition = "2021"
publish = true
version = "0.0.60"
license = "MIT OR Apache-2.0"
description = "Leverage common functionality across multiple primitives."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/utils"
documentation = "https://docs.rs/commonware-utils"

[dependencies]
commonware-codec = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true, optional = true  }
rand = { workspace = true }
thiserror = { workspace = true }

# Enable "js" feature when WASM is target
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.15"
features = ["js"]

[dev-dependencies]
num-bigint = { version = "0.4.6", default-features = false }

[features]
default = ["std"]
std = ["rand/std", "thiserror/std", "bytes/std", "commonware-codec/std", "futures"]

[lib]
bench = false
crate-type = ["rlib", "cdylib"]
