[package]
name = "commonware-coding-fuzz"
version = "0.0.60"
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
commonware-cryptography = { workspace = true }
libfuzzer-sys = { workspace = true }
arbitrary = { workspace = true, features = ["derive"] }

[dependencies.commonware-coding]
path = ".."

[[bin]]
name = "reed_solomon"
path = "fuzz_targets/reed_solomon.rs"
test = false
doc = false
bench = false
