[package]
name = "commonware-consensus"
edition = "2021"
publish = true
version.workspace = true
license = "MIT OR Apache-2.0"
description = "Order opaque messages in a Byzantine environment."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/consensus"
documentation = "https://docs.rs/commonware-consensus"

[dependencies]
commonware-cryptography = { workspace = true }
commonware-utils = { workspace = true }
bytes = { workspace = true }
prost = { workspace = true }
cfg-if = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
commonware-macros = { workspace = true }
commonware-p2p = { workspace = true }
commonware-runtime = { workspace = true }
commonware-storage = { workspace = true }
prometheus-client = { workspace = true }
governor = { workspace = true }
thiserror = { workspace = true }
futures = { workspace = true }
rand = { workspace = true }
rand_distr = { workspace = true }
tracing = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }

[dev-dependencies]
tracing-subscriber = { workspace = true }

[lib]
bench = false
crate-type = ["rlib", "cdylib"]
