[package]
name = "commonware-cryptography"
edition = "2021"
publish = true
version = "0.0.41"
license = "MIT OR Apache-2.0"
description = "Generate keys, sign arbitrary messages, and deterministically verify signatures."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo/tree/main/cryptography"
documentation = "https://docs.rs/commonware-cryptography"

[dependencies]
commonware-utils = { workspace = true }
bytes = { workspace = true }
thiserror = { workspace = true }
rand = { workspace = true }
sha2 = { workspace = true }
ed25519-consensus = "2.1.0"
blst = { version = "0.3.13", features = ["no-threads"] }
zeroize = "1.5.7"
rayon = "1.10"
p256 = { version = "0.13.2", features = ["ecdsa"] }

# Enable "js" feature when WASM is target
[target.'cfg(target_arch = "wasm32")'.dependencies.getrandom]
version = "0.2.15"
features = ["js"]

[dev-dependencies]
criterion = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }

[lib]
bench = false
crate-type = ["rlib", "cdylib"]

[features]
portable = ["blst/portable"]

[[bench]]
name="bls12381"
harness = false
path = "src/bls12381/benches/bench.rs"

[[bench]]
name = "ed25519"
harness = false
path = "src/ed25519/benches/bench.rs"

[[bench]]
name = "secp256r1"
harness = false
path = "src/secp256r1/benches/bench.rs"

[[bench]]
name = "sha256"
harness = false
path = "src/sha256/benches/bench.rs"
