* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: black;
    font-family: 'Consolas', monospace;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}

.content {
    flex: 1;
    padding-bottom: 100px;
}

.logo-line {
    display: flex;
    font-size: 1.4em;
    white-space: pre;
}

.author {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 3px;
    margin-right: 15px;
}

.date {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 3px;
    font-style: italic;
}

.meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

h3 {
    font-size: 1em;
    margin-bottom: 6.6px;
    font-weight: bold;
}

p {
    line-height: 1.2;
    margin-bottom: 5px;
}

button {
    padding: 5px;
    margin-bottom: 5px;
    background-color: -webkit-link;
    color: white;
    font-family: 'Consolas', monospace;
    border-width: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.image-container {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.image-caption {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
    text-align: left;
}

.video-container {
    position: relative;
    /* 16:9 aspect ratio (9 / 16 * 100) */
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 20px 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    text-align: left;
    padding: 10px 0;
}

.footer .socials {
    margin-bottom: 10px;
}

.footer .social-link {
    margin: 0 10px;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

details.benchmark-set {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    padding: 8px;
}

details.benchmark-set summary {
    cursor: pointer;
    outline: none;
    overflow-wrap: anywhere;
    white-space: normal;
    max-width: 100%;
    list-style: none;
}

details.benchmark-set .benchmark-title {
    font-weight: 700;
    font-size: 1.2em;
    color: -webkit-link;
    text-decoration: underline;
}

details.benchmark-graph-details {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 8px;
}

.benchmark-performance {
    font-size: 0.7em;
    color: gray;
    font-style: italic;
}

.benchmark-graph-title {
    font-weight: 300;
    cursor: pointer;
    outline: none;
    overflow-wrap: anywhere;
    white-space: normal;
    max-width: 100%;
    list-style: none;
    color: -webkit-link;
    text-decoration: underline;
}

.benchmark-chart {
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
}

.benchmark-modules {
    margin-left: 5px;
}

details.benchmark-module {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 8px;
}

details.benchmark-module summary.module-title {
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    overflow-wrap: anywhere;
    white-space: normal;
    max-width: 100%;
    list-style: none;
    color: -webkit-link;
    text-decoration: underline;
}

.module-functions {
    margin-left: 5px;
}

details.benchmark-function {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 8px;
}

summary.function-title {
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    overflow-wrap: anywhere;
    white-space: normal;
    max-width: 100%;
    list-style: none;
    color: -webkit-link;
    text-decoration: underline;
}

.function-params {
    margin-left: 5px;
}