body {
    background-color: white;
    color: black;
    font-family: 'Consolas', monospace;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    max-width: 800px;
}

.logo-line {
    display: flex;
    font-size: 1.4em;
    white-space: pre;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.blog-date {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.image-container {
    display: block;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.image-caption {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
    text-align: left;
}