body {
    background-color: white;
    color: black;
    font-family: 'Consolas', monospace;
    margin: 0;
    padding: 10px;
    font-size: 1em;
}

.logo-line {
    display: flex;
    font-size: 1.4em;
    white-space: pre;
}

.section-title {
    padding-bottom: 10px;
}

.blog-content {
    max-width: 800px;
    margin: 20px 0;
    padding: 0 10px;
}

.blog-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.blog-content .blog-date {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 20px;
}

.blog-content h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-content p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.blog-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.image-container {
    display: block;
    /* Changed from flex to block */
    margin: 20px 0;
    /* Vertical spacing remains the same */
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    /* Remove any default margins */
}

.image-caption {
    font-size: 0.9em;
    color: #555;
    /* Gray color for the caption text */
    margin-top: 5px;
    /* Space between image and caption */
    text-align: left;
    /* Left-align the caption text */
    max-width: 800px;
    /* Match the blog content width */
    /* Optional: Adjust padding if needed */
    /* padding-left: 10px; */
}