[package]
name = "commonware-chat"
edition = "2021"
publish = true
version = "0.0.7"
license = "MIT OR Apache-2.0"
description = "Send encrypted messages to a group of friends using commonware-p2p."
readme = "README.md"
homepage = "https://commonware.xyz"
repository = "https://github.com/commonwarexyz/monorepo"

[dependencies]
commonware-p2p = { version = "0.0.6", path = "../../p2p" } 
tokio = { version = "1", features = ["full"] }
clap = "4"
chrono = "0.4"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "json"] }
ratatui = "0.27"
crossterm = "0.22"
serde_json = "1"
prometheus-client = "0.22"
governor = "0.6"
hex = "0.4"