name: Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
  merge_group:

permissions:
  contents: read

concurrency:
  group: coverage-${{ github.head_ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CARGO_TERM_COLOR: always

jobs:
  Coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
    - name: Checkout repository
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Remove examples
      run: rm -rf examples
    - name: Remove examples from Cargo.toml
      run: |
        sed -i.bak '/examples/d' Cargo.toml
    - name: Remove fuzz
      run: |
        rm -rf broadcast/fuzz
        rm -rf codec/fuzz
        rm -rf coding/fuzz
        rm -rf collector/fuzz
        rm -rf consensus/fuzz
        rm -rf cryptography/fuzz
        rm -rf p2p/fuzz
        rm -rf runtime/fuzz
        rm -rf storage/fuzz
        rm -rf stream/fuzz
        rm -rf utils/fuzz
    - name: Remove fuzz targets from Cargo.toml
      run: |
        sed -i.bak '/fuzz/d' Cargo.toml
    - name: Install cargo-llvm-cov
      uses: taiki-e/install-action@0c5db7f7f897c03b771660e91d065338615679f4 # v2.60.0
      with:
        tool: cargo-llvm-cov@0.6.19
    - name: Generate coverage report
      run: cargo llvm-cov --workspace --lcov --output-path lcov.info -- --include-ignored
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        files: lcov.info
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
