name: Publish 

on:
  push:
    branches: [ "main" ]

jobs:
  All:
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/actions/checkout
    - name: Publish cryptography 
      run: cargo publish --manifest-path cryptography/Cargo.toml
      continue-on-error: true
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    - name: Publish runtime 
      run: cargo publish --manifest-path runtime/Cargo.toml
      continue-on-error: true
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    - name: Publish p2p
      run: cargo publish --manifest-path p2p/Cargo.toml
      continue-on-error: true
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    - name: Publish chat
      run: cargo publish --manifest-path examples/chat/Cargo.toml
      continue-on-error: true
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    - name: Publish vrf 
      run: cargo publish --manifest-path examples/vrf/Cargo.toml
      continue-on-error: true
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}