name: Quint

on:
  push:
    branches: [ "main" ]
  pull_request:
  merge_group:

env:
  QUINT_VERSION: "0.28.0"
  NODE_VERSION: "20.19.5"

permissions:
  contents: read

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install quint
        run: npm i @informalsystems/quint@${{ env.QUINT_VERSION }} -g
      - name: Run test
        run: cd pipeline/minimmit/quint && make typecheck && make test
