name: Quint

on:
  push:
    branches: [ "main" ]
  pull_request:
  merge_group:

env:
  QUINT_VERSION: "0.29.1"
  NODE_VERSION: "20.19.5"

permissions:
  contents: read

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Install node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install quint
        run: npm i @informalsystems/quint@${{ env.QUINT_VERSION }} -g
      - name: Run test
        run: cd pipeline/minimmit/quint && make typecheck && make test
