name: Slow

on:
  push:
    branches: [ "main" ]
  pull_request:
  merge_group:

permissions:
  contents: read

concurrency:
  group: tests-slow-${{ github.head_ref || github.ref_name || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CARGO_TERM_COLOR: always
  FUZZ_VERSION: 0.12.0
  NIGHTLY_VERSION: nightly

jobs:
  Tests:
    name: "Tests (os: ${{ matrix.os }}, flags: \"${{ matrix.flags }}\") (partition: ${{ matrix.partition }}/4)"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 180
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        partition: [1, 2, 3, 4]
        flags:
          - "--features commonware-runtime/iouring-storage"
          - "--features commonware-runtime/iouring-network"
          - "--no-default-features"
          - ""
        exclude:
          # Only run io_uring features on Ubuntu
          - os: windows-latest
            flags: "--features commonware-runtime/iouring-storage"
          - os: macos-latest
            flags: "--features commonware-runtime/iouring-storage"
          - os: windows-latest
            flags: "--features commonware-runtime/iouring-network"
          - os: macos-latest
            flags: "--features commonware-runtime/iouring-network"
          # Only run --no-default-features on Ubuntu
          - os: windows-latest
            flags: "--no-default-features"
          - os: macos-latest
            flags: "--no-default-features"
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Install nextest
      uses: taiki-e/install-action@cargo-nextest
    - name: Run ignored tests
      run: cargo nextest run ${{ matrix.flags }} --partition hash:${{matrix.partition}}/4 --verbose -- --ignored

  Tests-Gate:
    name: "Slow-Tests"
    runs-on: ubuntu-latest
    needs: Tests
    if: always()
    steps:
      - name: Check test results
        run: |
          if [ "${{ needs.Tests.result }}" != "success" ]; then
            echo "Tests failed or were cancelled"
            exit 1
          fi
          echo "All tests passed successfully!"

  Benchmarks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - package: commonware-cryptography
            cargo_flags: ""
          - package: commonware-storage
            cargo_flags: ""
          - package: commonware-storage
            cargo_flags: "--features commonware-runtime/iouring-storage" # Additional features can be added here
          - package: commonware-coding
            cargo_flags: ""
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install nightly Rust toolchain
      run: rustup toolchain install ${{ env.NIGHTLY_VERSION }}
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Test benchmarks
      run: |
        cargo test ${{ matrix.cargo_flags }} \
          --benches -p ${{ matrix.package }} \
          -- --verbose

  Fuzz:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    strategy:
      matrix:
        fuzz_dir: [broadcast/fuzz, codec/fuzz, coding/fuzz, collector/fuzz, cryptography/fuzz, runtime/fuzz, storage/fuzz, stream/fuzz, utils/fuzz]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install nightly Rust toolchain
      run: rustup toolchain install ${{ env.NIGHTLY_VERSION }}
    - name: Get Rust version
      id: rust-version
      run: echo "rust_version=$(rustc +${{ env.NIGHTLY_VERSION }} --version)" >> "$GITHUB_OUTPUT"
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Cache cargo-fuzz
      id: cargo-fuzz-cache
      uses: actions/cache@v4
      with:
        path: ~/.cargo/bin/cargo-fuzz
        key: ${{ runner.os }}-${{ env.FUZZ_VERSION }}-cargo-fuzz-${{ steps.rust-version.outputs.rust_version }}
    - name: Install cargo-fuzz
      if: steps.cargo-fuzz-cache.outputs.cache-hit != 'true'
      run: cargo +${{ env.NIGHTLY_VERSION }} install cargo-fuzz --version ${{ env.FUZZ_VERSION }}
    - name: Test all targets
      run: |
        for target in $(cargo +${{ env.NIGHTLY_VERSION }} fuzz list --fuzz-dir ${{ matrix.fuzz_dir }}); do
          cargo +${{ env.NIGHTLY_VERSION }} fuzz run $target --fuzz-dir ${{ matrix.fuzz_dir }} -- -max_total_time=60
        done
