name: Slow

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

concurrency:
  group: tests-slow-${{ github.head_ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CARGO_TERM_COLOR: always
  FUZZ_VERSION: 0.12.0
  NIGHTLY_VERSION: nightly-2025-08-10

jobs:
  Tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 180
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            flags: "--features commonware-runtime/iouring-storage"
          - os: ubuntu-latest
            flags: "--features commonware-runtime/iouring-network"
          - os: ubuntu-latest
            flags: ""
          - os: windows-latest
            flags: ""
          - os: macos-latest
            flags: ""
    steps:
    - name: Checkout repository
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Run ignored tests
      run: cargo test ${{ matrix.flags }} --verbose -- --ignored

  Benchmarks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - package: commonware-cryptography
            cargo_flags: ""
            file_suffix: ""
            benchmark_name: "commonware-cryptography"
          - package: commonware-storage
            cargo_flags: ""
            file_suffix: ""
            benchmark_name: "commonware-storage"
          - package: commonware-storage
            cargo_flags: "--features commonware-runtime/iouring-storage" # Additional features can be added here
            file_suffix: "-features"
            benchmark_name: "commonware-storage --features"
          - package: commonware-stream
            cargo_flags: ""
            file_suffix: ""
            benchmark_name: "commonware-stream"
          - package: commonware-coding
            cargo_flags: ""
            file_suffix: ""
            benchmark_name: "commonware-coding"
    steps:
    - name: Checkout repository
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
    - name: Install nightly Rust toolchain
      run: rustup toolchain install ${{ env.NIGHTLY_VERSION }}
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Test benchmarks
      run: |
        cargo bench ${{ matrix.cargo_flags }} \
          --benches -p ${{ matrix.package }} \
          -- --test --verbose

  Fuzz:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    strategy:
      matrix:
        fuzz_dir: [codec/fuzz, coding/fuzz, collector/fuzz, cryptography/fuzz, runtime/fuzz, storage/fuzz, stream/fuzz, utils/fuzz]
    steps:
    - name: Checkout repository
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
    - name: Install nightly Rust toolchain
      run: rustup toolchain install ${{ env.NIGHTLY_VERSION }}
    - name: Get Rust version
      id: rust-version
      run: echo "rust_version=$(rustc +${{ env.NIGHTLY_VERSION }} --version)" >> "$GITHUB_OUTPUT"
    - name: Run setup
      uses: ./.github/actions/setup
    - name: Cache cargo-fuzz
      id: cargo-fuzz-cache
      uses: actions/cache@b7a00a3203cfa62623760990f5171f9b4a2ab1a7 # v4.0.0
      with:
        path: ~/.cargo/bin/cargo-fuzz
        key: ${{ runner.os }}-${{ env.FUZZ_VERSION }}-cargo-fuzz-${{ steps.rust-version.outputs.rust_version }}
    - name: Install cargo-fuzz
      if: steps.cargo-fuzz-cache.outputs.cache-hit != 'true'
      run: cargo +${{ env.NIGHTLY_VERSION }} install cargo-fuzz --version ${{ env.FUZZ_VERSION }}
    - name: Test all targets
      run: |
        for target in $(cargo +${{ env.NIGHTLY_VERSION }} fuzz list --fuzz-dir ${{ matrix.fuzz_dir }}); do
          cargo +${{ env.NIGHTLY_VERSION }} fuzz run $target --fuzz-dir ${{ matrix.fuzz_dir }} -- -max_total_time=60
        done
